body {
    background-color: #FFEBCD;
}
section{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 500px;
    width: 1000px;
    
}
.egesz{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 1000px;
    
}
.oldal{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEB887;
}
.tukor{
    transform: scaleX(-1);
}
main{
    position: relative;
    height: 400px;
    width: 800px;
    
}
#photo{
    height: 400px;
    width: 800px;
}
.leiras{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 800px;
    background-color: #DEB887;
    opacity: .8;
}
.kepek{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 800px;
    
}
.minikep{
    height: 60px;
    width: 80px;

}
  .cim {
    display: none;
    font-size: 10px;
    text-indent: 15px;
  }
  .minikep:hover .cim {
    display: block;
  }